
@model Banking.Models.BankingViewModel
@{
    ViewBag.Title = "Bank Detail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <style>
        input[type=checkbox] {
            position: relative;
            cursor: pointer;
        }

            input[type=checkbox]:before {
                content: "";
                display: block;
                position: absolute;
                width: 16px;
                height: 16px;
                top: 0;
                left: 0;
                border: 2px solid #555555;
                border-radius: 3px;
                background-color: white;
            }

            input[type=checkbox]:checked:after {
                content: "";
                display: block;
                width: 5px;
                height: 10px;
                border: solid black;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
                top: 2px;
                left: 6px;
            }
    </style>
</head>
<body>

    @using (Html.BeginForm("LoanStatistics", "Loans", FormMethod.Post))
    {
    <div class="form-group">
        <h3>Select Banks</h3>
        <hr />
        <div class="col-md-10">
            @for (int i = 0; i < Model.BanksList.Count(); i++)
            {<div style="padding:5px;">
                    @Html.CheckBoxFor(m => m.BanksList[i].Selected, new { @class = "checkmark" })
                    @Html.DisplayFor(m => m.BanksList[i].Text)
                    @Html.HiddenFor(m => m.BanksList[i].Value)
                    @Html.HiddenFor(m => m.BanksList[i].Text)
                </div>
            }
            <div>
                <input type="submit" class="btn btn-primary" value="Submit" style="margin-top: 13px" />
            </div>
        </div>
        <br />
    </div>
    }

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
</body>
</html>
